<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header', { title: 'Home' }) %>
</head>
<body>
    <%- include('./partials/nav', { home: 'active', login: '', signup: '', logged_in: logged_in }) %> 
    <div class="container">
        <% if (logged_in) { %>
            <span id="washer_start_time" style="display: none;"><%= washer_start_time %></span>
            <span id="dryer_start_time" style="display: none;"><%= dryer_start_time %></span>
            <span id="user_name" style="display: none;"><%= user_info.name %></span>
            <h1>Welcome, <%= user_info.name %>!</h1>
            <p>International house washer and dryer status: </p>
              <div class="row my-4">
                <div class="col-sm-6">
                  <div class="card my-4 mx-2">
                    <div class="card-body">
                      <h5 class="card-title">Washer #1</h5>
                      <p class="card-text">Status: 
                      <% if (locals.washer_available) { %>
                        <span class="badge badge-success">Available</span></p>
                        <a href="/useWasher" class="btn btn-primary">Use Washer</a>     
                      <% } else { %>
                        <span class="badge badge-danger">In use</span><br />
                        <strong><%= washer_user_info.name %></strong> is using the washer.<br />
                        Time elapsed: <span id="washer-time"></span></p> 
                        <!-- Assume that the average time for washer to get done is ~38 minutes -->
                        <a href="#" class="btn btn-primary disabled">Use Washer</a>
                        <button onclick="emailUser('<%= washer_user_info.email %>', 'Washer')" class="btn btn-outline-primary mx-2">Poke <%= washer_user_info.name %></button>
                      <% } %>
                      <!-- <a href="#" class="btn btn-primary">Notify me when done</a> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card my-4 mx-2">
                    <div class="card-body">
                      <h5 class="card-title">Dryer #1</h5>
                      <p class="card-text">Status: 
                      <% if (locals.dryer_available) { %>
                        <span class="badge badge-success">Available</span></p>
                        <a href="/useDryer" class="btn btn-primary">Use Dryer</a>
                      <% } else { %>
                        <span class="badge badge-danger">In use</span><br />
                        <strong><%= dryer_user_info.name %></strong> is using the dryer.<br />
                        Time elapsed: <span id="dryer-time"></span></p>
                        <!-- Assume that the average time for dryer to get done is ~75 minutes -->
                        <a href="#" class="btn btn-primary disabled">Use Dryer</a>
                        <button onclick="emailUser('<%= dryer_user_info.email %>', 'Dryer')" class="btn btn-outline-primary mx-2">Poke <%= dryer_user_info.name %></button>
                      <% } %>
                      <!-- <a href="#" class="btn btn-primary">Notify me when done</a> -> is this a big ask? -->
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- TODO: debugging code, remove later -->
              <label>TODO: For testing purpose only:</label><br />
              <a href="/debugWasher">Switch Washer Status</a><br />
              <a href="/debugDryer">Switch Dryer Status</a>
              <!-- TODO: debugging code, remove later -->

              <!--  all code for when the user is logged in goes here. All user information can be found in 
                  the user_info object -->
        <% } else { %>
            <h1>Welcome!</h1>
            <p>This website displays current status of the washers and dryers present in the International House at Tufts University.</p>
            <p>You are not logged in. Please <a href="/login">log in</a> or <a href="/signup">sign up</a> to continue.</p>
        <% } %>
    </div>
    
    <!-- TODO: figure out when to stop the washers and dryers....! -->

    <script>

    function emailUser(email, machine) {
        const my_name = document.getElementById('user_name').innerHTML
        // send a POST request to /pokeUser using fetch API
        fetch("/pokeUser", {
            method: "POST",
            headers: {
                "Content-type": "application/x-www-form-urlencoded" 
            },
            body: new URLSearchParams({
                my_name: my_name,
                email: email,
                machine: machine
            })
        })
            .then(console.log("sent!")) // TODO: after sending the Poke, flash the message that the user has been notified
            .catch(err => console.error(err))
    }

    const updateTimer = setInterval(() => {
        const washer_time = getElapsedTimeObject('washer_start_time')
        const dryer_time = getElapsedTimeObject('dryer_start_time')

        document.getElementById('washer-time').innerHTML =  
            washer_time.hours + "h " + washer_time.minutes + "m " + washer_time.seconds + "s ";
        document.getElementById('dryer-time').innerHTML =  
            dryer_time.hours + "h " + dryer_time.minutes + "m " + dryer_time.seconds + "s ";
    }, 1000);

    function getElapsedTimeObject(id) {
        const div = document.getElementById(id)
        const elapsed_time = Date.now() - new Date(div.innerHTML)
        return deconstructTime(elapsed_time)
    }

    function deconstructTime(elapsed_time) {
        return {
            hours: Math.floor((elapsed_time % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)),
            minutes: Math.floor((elapsed_time % (1000 * 60 * 60)) / (1000 * 60)),
            seconds: Math.floor((elapsed_time % (1000 * 60)) / 1000)
        }
    }
    </script>

    <%- include('./partials/bootstrap') %>
</body>
</html>